@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 414px;
  background-color: E5E1E1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}
