@import 'bootstrap/dist/css/bootstrap.css';

#__next {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  width: 414px;
  background-color: #e5e1e1;
}

#bottom-rectangle {
  background-color: #887777;
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 40px;
}

.main-container {
  overflow: scroll;
  flex-grow: 1;
}

#bottom-nav {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#top-nav {
  display: flex;
  justify-content: center;
  background-color: #887777;
  max-height: 90px;
}

#pay-request {
  width: min-content;
  border-radius: 100%;
  padding: 1rem 1.75rem;
  background-color: #4d3f3f;
  border-color: #e5e1e1;
  outline: none;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  color: #e5e1e1;
  font-size: 20px;
}

.friend-container {
  display: flex;
  flex-direction: row;
}

#nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-photo {
  border-radius: 50%;
  margin-bottom: 10px;
}

#friend-button {
  margin: 5px;
  background-color: #5c7684;
  border-color: #5c7684;
}

#pay-button {
  border: 50px;
}

#history-button {
  margin: 5px;
  background-color: #5c7684;
  border-color: #5c7684;
}

#request-button {
  margin: 5px;
  background-color: #5c7684;
  border-color: #5c7684;
}

#settings-button {
  margin: 5px;
  background-color: #5c7684;
  border-color: #5c7684;
}

#logo {
  display: flex;
  justify-content: center;
}

#transaction-container {
  padding-top: 10px;
}

#left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#transaction-amount {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#calculator {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
  padding-top: 100px;
}

#payment-buttons {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#recipient {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

#total {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
